@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display:ital@0;1&family=Lato:wght@300;400;700&display=swap");

/* document wide formatting */
:root {
    --gray: #939393;
    --scroller: #ccc;
    --lightgray: #f3f6ec;
    --darkhighlight: #325e48;
    --highlight:#569563;
    --light: #ebf3e2;
    --lightaccent: #e3eca6;
    /* --bs-navbar-color: none; */
}

body{
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

a:focus, a:hover, a:active{
    color: inherit;
}

a.accent{
    color: var(--highlight);
}

a.accent:focus, a.accent:hover, a.accent:active{
    color: var(--lightaccent);
}

p{
    margin: auto;
}

h6{
    text-align: center;
}

footer{
    color: rgb(255, 255, 255);
}

footer a{
    color: white;
}

footer a:hover, .afilliate.active a:hover{
    color: var(--lightaccent);
}

.afilliate a:hover{
    color: var(--highlight);   
}

.fullscreen{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

/* custom class text styling */
.caps{
    font-family: 'DM Serif Display';
    text-transform: uppercase;
}

.light-fw{
    font-size: calc(.8rem + .2vw);
}

.graybg{
    background-color: var(--lightgray);
}
.lightbg{
    background-color: var(--light);
}

.accentbg{
    background-color: var(--lightaccent);
}

.darkbg{
    background-color: var(--darkhighlight);
    color: white;
}

.display-2, .display-5{
    font-family: 'DM Serif Display', sans-serif;
    line-height: 80%;
}
.display-7{
    font-family: 'Lato', sans-serif;
    font-size: calc(1rem + 1vw);
    font-weight: 700;
    line-height: 1.2;
}

.display-8{
    font-family: 'Lato', sans-serif; 
    font-size: calc(1rem + .5vw);
    font-weight: 700;
    line-height: 1.2;
}

.colored-text{
    color: var(--darkhighlight);
}

.colored-text2{
    color: var(--lightaccent);
}

.small-text{
    font-size: calc(.8rem + .25vw);
}

/* nav bar styling */
.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }

a.nav-link{
    /* font-size: calc(1rem + .5vw); */
    font-family: 'Lato', sans-serif;
    color: var(--darkhighlight);
    text-transform: uppercase;
}

.nav-link:focus, .nav-link:hover, .navlink:active{
    color: var(--highlight);
}

i.nav-link{
    color: var(--darkhighlight);
    text-decoration: none;
}

.navbar-toggler {
    color: #ffffff00;
    border: none;
}
  
.custom-toggler{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.bar {
    height: 2.5px;
    width: 25px;
    background-color: var(--darkhighlight);
    transition: all 100ms ease-in-out;
    border-radius: 20px;
}
  
.x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    margin-left: .7rem;
    scale: .9;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 25px;
}
  
.x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
}
  
.x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    margin-left: .7rem;
    scale: .9;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 25px;
}

#logo{
    font-size: calc(1rem + .5vw);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--darkhighlight);
}
#logotext{
    line-height: 80%;
}

/* style landing page buttons */
/* Style the buttons */
/* spacer to ensure that text is never above navbar */
.dbtn, .lbtn {
    background-color: var(--darkhighlight);
    color: white;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    transition: background-color 0.5s ease;
}

.dbtn{
    background-color: var(--lightaccent);
    color: black;
}

.lbtn:hover {
    background-color: var(--lightaccent);
 }

.dbtn:hover{
   background-color: var(--light);
   color: black;
}

/* style about elements */
#helpwith{
    text-align: center;
}

.profilepic{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    object-fit: cover;
}

.flex-container2{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.max-four-col {
    flex-basis: 23%;
    min-height: 200px;
}

.item{
    color:white;
    margin: 1%;
    flex-shrink: 0;
    background-color: var(--darkhighlight);
    border-radius: 15px;
    display: flex;
}

/* style afilliates elements */
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: var(--darkhighlight)
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--highlight)
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.affiliates-container{
    display: block;
    min-height: fit-content !important;
    transition: height 0.25s ease;
}

.affiliates{
    border-radius: 5px;
    height: 60vh;
    max-height: 400px;
    overflow-y: scroll;
}
.affiliates::-webkit-scrollbar,  .flex-container2::-webkit-scrollbar{
    background-color: var(--scroller);
    border-radius: 5px;
    width: 10px;
    height: 10px;
}
  
.affiliates::-webkit-scrollbar-thumb, .flex-container2::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--lightaccent);
}

.afilliate{
    padding: 1rem;
    width: 100%;
    background-color: var(--lightgray);
    border: 2px solid var(--lightgray);
    transition: background-color 200ms linear;
}

.afilliate:hover{
   border-color: var(--darkhighlight);
}
.afilliate.active{
    border-color: var(--darkhighlight);
    background-color: var(--darkhighlight);
    color: white;
}

.map-img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-width: 400px;
}

/* classes that toggle visibility of map */
.w-100{
    transition: width 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease-out;
}

.none {
    display:none;
}

/* FAQ Acordion  */
.accordion{
    --bs-accordion-bg: rgba(255, 255, 255, 0);
    --bs-accordion-border-color: var(--darkhighlight);
    --bs-accordion-btn-icon-width: 1.5rem;
    --bs-accordion-btn-focus-border-color: black;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23325e48'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: var(--darkhighlight);
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
    
}
.accordion-button:not(.collapsed){
    box-shadow: none;
}

.accordion-button{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: black;
}

.border-bottom{
    border-color: var(--darkhighlight);
}

.accordion > p{
    margin-right: 3rem;
}

/* .accordion-body{
    background-color: white;
} */

/* media queries */
@media screen and (max-width: 991px) { 
    .max-four-col {
        flex-basis: 48%;
    }
    #contactLinks > * {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .navbar-collapse {
        text-align: right;
    }

    a.nav-link, i.nav-link{
       font-weight: 700;
    }
}

@media screen and (max-width: 769px){
    .navbar-collapse {
        background-color: white;
    }
}


@media screen and (max-width: 575px){
    .flex-container2 {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        border-radius: 5px;
    }

    .map-img{
        max-width: none
    }
}

@media screen and (max-width: 320){
}