@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
--gray: #bfb7cb;
--transgray: #03030330;
--dark: #43464e;
--sidecolor: #313346;
--sideaccent: #132451;
--target: #f900c7;
--accent: #712bfc;
--black: #1e1e21;
}

body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    margin: 0;
    font-family: 'Varela Round', Helvetica, sans-serif;
    box-sizing: border-box;
    min-width: 100%;
}

p{
    font-size: calc(.4rem + .8vmin);
    letter-spacing: .75px;
    margin-bottom: 1vmin;
}

div[class^=tg] button{
    transition: color .5s, background-color .5s, border-color .5s;
}

input{
    background-color: var(--transgray);
    border-radius: 5px;
    color: inherit;
    border: none;
    margin: 0px;
    padding-left: 20px;
}

#main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    color: white;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: calc(1rem + 1vmin);
    display: flex;
    align-items: center;
    padding-right: 3vmin;
    /* padding: 1vmin; */
}

.menu{
    display: flex;
    width: 100%;
    height: 5%;
    background-image: linear-gradient(90deg, rgb(187, 0, 255) 0%, rgb(0, 145, 255) 100%);
    justify-content: space-between;
    /* border-bottom: 1px solid #38364a; */
}

.menu-inner{
    background-color: transparent;
    display: flex;
    width: 20vw;
    padding: 1vmin 0;
    min-width: fit-content;
    justify-content: space-between;
}

.menu-inner > button{
    color: var(--gray);
    border: none;
    background-color: transparent;
    margin: auto 2vmin 0;
    font-size: calc(.4rem + .8vmin);
    display: flex;
}

.menu-inner > button > i{
    font-size: calc(.5rem + .5vmin);
}

.flex-container{
    width: 100vw;
    height: 95%;
    display: flex;
    align-self: center;
    justify-content:space-between;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, #000000 0%, #191822 40%, #2c2f36 100%);
}    
    
div[id ^= side-]{
    display: none;
    width: 25%;
    padding: 2vw 0;
    background-color: var(--sidecolor);
    background-image: linear-gradient(0deg, #191822 0%, #313346 100%);
}

div[id ^= side-].show{
    display: flex;
}

#side-create{
    justify-content: space-around;
}

#side-frames{
    justify-content: space-around;
    align-items: center;
}

#side-settings{
    flex-direction: column;
    color: white;
}

#side-export{
    padding-right: 2vw;
    padding-left: 2vw;
}

#side-settings > div{
    display: flex;
    padding: 1vw 2vw;
    border-bottom: 1px solid var(--transgray);
    font-size: calc(.4rem + .8vmin);
    width: 100%;
    justify-content: space-between;
}

#side-settings > div:last-of-type{
    border-bottom: none;
}

#right-side{
    color:white;
    padding: 2vw;
    /* background-color: var(--sidecolor); */
    background-image: linear-gradient(0deg, #191822 0%, #313346 100%);
    display: flex;
    flex-direction: column;
}

#sample{
    margin: 0 auto 2vmin;
    height: 15vmax;
    width: 15vmax;
    border: 1px solid var(--dark);
}

#frameContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    /* border: 1px solid var(--dark); */
    overflow-y: scroll;
}

.frame{
    margin: 1vmin auto;
    flex-shrink: 0;
    width: 12vmax;
    height: 12vmax;
    border: 1px solid var(--dark);
}

#colors{
    padding: 0 2vmin;
    max-height: 85vw;
    display: flex;
    align-items: center;
    justify-self: space-between;
    flex-direction: column;
}

.tools{
    width: 100%;
    margin-bottom: 2vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#brushes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
}

#brushes button{
    display: flex;
    border: 1px solid var(--dark);
    border-radius: 5px;
    color: white;
    background-color: var(--transgray);
    height: calc(.8rem + 8vmin);
    width: calc(.8rem + 8vmin);
    max-height: calc(.8rem + 8vw);
    max-width: calc(.8rem + 8vw);
    margin: 0  0 1vw 2vw;
    font-size: calc(.8rem + .8vmin); 
}

#brushes button > i{
    margin: auto;
}

.tools button{
    border: 1px solid var(--dark);
    color: white;
    background-color: var(--transgray);
    padding: calc(.4rem + .4vmin);
    margin: .5vmin 0;
    font-weight: 600;
    border-radius: 5px;
    font-size: calc(.4rem + .8vmin);
    width: 100%;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.tools button.active, .tools button:active:enabled{
    color: var(--target);
}

.tools button:hover:enabled , #brushes button:hover:enabled{
    background-color: var(--sideaccent);
    border-color: var(--accent);
}

#brushes button.active, #brushes button:active:enabled{
    border-color: var(--accent);
    color: var(--target);
    background-color: var(--sideaccent) !important;
}

button:disabled, div[disabled]{
    color: var(--dark) !important;
}

div.disabled{
    color: var(--dark);
}

#grid-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin: 0%;
}

#grid {
    margin: auto;
    width: 48vw;
    height: 48vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    touch-action: none;
}

.visible-background{
    background: repeating-conic-gradient(#e4e4e4 0% 25%, #fbfafa 0% 50%) 50% / calc(96vw/30) calc(96vw/30);
}

.pixel{
    /* set the according to grid size later using js */
    flex-basis: calc(48vw/30);
    flex-shrink: 0;
    height: calc(48vw/30);
    box-sizing:border-box;
}

.pixel-border{
    border: .1vmin solid var(--dark);
}

#picker-display, div[class^=tg]{
    cursor: pointer;
    height: 4vmin;
    min-width: 4vmin;
    margin: 0 .5vmin 1vmin;
    border-radius: 5px;
}

#colorpicker{
    display: none;
}

div[class^=tg]:hover{
    border: 1px solid var(--target);
}

div[class^=tg].disabled, #picker-display.disabled{
    filter: grayscale(80%);
    pointer-events: none;

}

#picker-display.activecolor , #picker-display:active, div[class^=tg].activecolor, div[class^=tg]:active{
    border: 1px solid white;
}

.tg-w.activecolor, .tg-w:active{
    border: 1px solid var(--target) !important;
}

#picker-display{
    background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(208, 222, 33, 1) 20%,
        rgba(63, 218, 216, 1) 40%,
        rgba(28, 127, 238, 1) 60%,
        rgba(186, 12, 248, 1) 80%,
        rgba(255, 0, 0, 1) 100%
    );
}
.tg-c{background-color:#bf3a2b;}
.tg-b{background-color:#e74c3c;}
.tg-y{background-color:#d35400;}
.tg-r{background-color:#d68910;}
.tg-l{background-color:#f4d03f;}
.tg-m{background-color:#8bc759;}
.tg-mr{background-color:#2ecc71;}
.tg-o{background-color:#48c9b0;}
.tg-g{background-color:#3ca8f0;}
.tg-p{background-color:#266cef;}
.tg-t{background-color:#7480dd;}
.tg-n{background-color:#42329f;}
.tg-nn{background-color:#1c0f3c;}
.tg-w{background-color:#ffffff;}
.tg-bg{background-color:#f4cda1;}
.tg-tg{background-color:#ca9f5e;}
.tg-dg{background-color:#4f340d;}
.tg-bl{background-color:#000000;}
.tg-gy{background-color:#686868;}


/* button#save{
    background: linear-gradient(90deg, rgb(85, 72, 255) 0%, rgb(0, 145, 255) 100%);
} */

#toggleBackground, #toggleGrid{
    cursor: pointer;
}

/* ERROR: OVERFLOW SCROLL ON MOBILE */
.dropdown-menu{
    --bs-dropdown-padding-y: 0px;
    --bs-dropdown-bg: var(--sidecolor);
    --bs-dropdown-color: white;
    --bs-dropdown-border-color: var(--dark);
    --bs-dropdown-border-width: 2px;
    --bs-dropdown-border-radius: 0px;
    font-size: calc(.5rem + .5vmin);
    text-transform: uppercase;
}

.dropdown-menu > li{
    padding: 1rem;
    border-bottom: 1px solid var(--dark);
}

.dropdown-menu > li > p{
    margin-bottom: 0px;
}

.hidden{
    visibility: hidden;
}

ul.dropdown-menu.show{
    transform: translate3d(80.5px, 0px, 0px) !important;
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (max-height: 420px){
    body{
        position: absolute;
    }

    #main{
        height: max-content;
    }
}
@media screen and (min-width: 781px){
    .menu-inner > button.active{
        color: white;
        border-bottom: 2px solid var(--target);
    }
}
@media screen and (max-width: 780px){
    body{
        background-color: var(--sidecolor);
    }

    #grid {
        width: 90vmin;
        height: 90vmin;
    }
    
    .visible-background{
        background: repeating-conic-gradient(#e4e4e4 0% 25%, #fbfafa 0% 50%) 50% / calc(180vmin/30) calc(180vmin/30);
    }
    
    .pixel{
        flex-basis: calc(90vmin/30);
        height: calc(90vmin/30);
    }
    
    #right-side, div[id ^= side-]{
        width: 100%;
        overflow: visible;
        flex-wrap: wrap;
        height: min-content;
        background-image: none;
        background-color: var(--sidecolor);
    }

    #right-side{
        flex-direction:column-reverse;
        padding-right: 2vmin;
        padding-bottom: 0px;
    }

    .flex-container{
        flex-wrap: wrap;
        height: min-content;
    }

    #grid-container{
        padding: 1rem 0;
        height: min-content
    }

    #picker-display, div[class^=tg]{
        min-height: 8vmin;
        min-width: 8vmin;
        margin: 0 1vmin 1vmin;
    }

    #brushes, #colors{
        padding-bottom: .5rem;
        height: min-content;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row; 
        overflow-x: scroll;
    }

    #colors{
        margin: 1vmin;
        padding-left: 0px;
    }

    #brushes{
        width: 100%;
        justify-content: space-between;
    }

    #brushes button{
        padding: 0px;
        height: 9vmin;
        width: 9vmin;
        font-size: 3vw;
        margin: auto;
    }

    #brushes > .btn-group{
        margin: auto;
    }
    #brushes button > i{
        width: 100%;
    }

    #side-frames{
        padding-right: 2vw;
        padding-left: 2vw;
    }

    #frameContainer{
        flex-direction: row;
    }

    .frame{
        margin: auto 1vmin;
    }

    #sample{
        height: 70vmin;
        width: 70vmin;
    }
    .header, .menu{
        justify-content: center;
    }

    .menu{
        background-image: none;
        background-color: #242235;
        flex-wrap: wrap-reverse;
        height: min-content;
    }

    .header{
        background-image: none;
        background-color: var(--accent);
        text-align: center;
        width: 100%;
        border-bottom: 1px solid var(--dark);
        padding: 1.5vmin
    }

    .menu-inner{
        width: 100%;
        padding: 1.5vh 0 0;
        border-bottom: 2px solid var(--dark);
    }

    .menu-inner > button{
        border: 2px solid var(--dark);
        border-bottom: none;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-radius: 5px;
        margin: 0 2vw;
        width: 100%;
        padding: 1vmin;
        background-color: #27283b;
        letter-spacing: .75px;
        justify-content: space-around;
    }

    .menu-inner > button.active{
        background-color: var(--sidecolor);
        border-width: 2px;
        border-bottom: 2px solid var(--sidecolor)!important;
        z-index: 200;
        margin-bottom: -2px;
        color: white;
    }
    
}