@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@800&family=Varela+Round&display=swap');

:root {
--gray: #817f7f;
--transgray: #03030330;
--dark: #43464e;
--sidecolor: #313746;
--sideaccent: #132451;
--target: #725ef9;
--accent: #3e45da;
--black: #1e1e21;
}

body{
    position: absolute;
    margin: 0;
    font-family: 'Varela Round', Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    color: var(--black);
    font-family: 'Unbounded', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: calc(1rem + 1.5vmin);
    padding: 1vh 0;
    background-image: linear-gradient(90deg, #5F72BE 0%, #705ef9 50%, #4540a6 100%);
    border-bottom: 2px solid var(--target);
}


p{
    font-size: calc(.4rem + .8vmin);
    letter-spacing: .75px;
    margin-bottom: 1vmin;
}

.flex-container{
    display: flex;
    align-self: center;
    justify-content:space-between;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, #000000 0%, #191822 40%, #2c2c36 100%);
}    
    

#left-side{
    color:white;
    padding: 1rem;
    /* background-color: var(--sidecolor); */
    background: 403146;
    background: linear-gradient(0deg, #191822 0%, #313346 100%);
    height: 95vh;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sample{
    margin: 0 2vmin 2vmin;
    height: 24.5vmin;
    width: 24.5vmin;
    border: 2px solid var(--dark);
}

#frameContainer{
    padding: 1vmin 0;
    display: flex;
    flex-direction: column;
    width: 24.5vmin;
    height: 30vmin;
    border: 2px solid var(--dark);
    overflow-y: scroll;
}

.frame{
    margin: 1vmin auto;
    flex-shrink: 0;
    width: 20vmin;
    height: 20vmin;
    border: 2px solid var(--dark);
}

#right-side{
    padding: 1rem 1vw;
    height: 95vh;
    /* background-color: var(--sidecolor); */
    background: 403146;
    background: linear-gradient(0deg, #191822 0%, #313346 100%);
    width: fit-content;
    display: flex;
}

#colors{
    margin: 1vmin;
    padding-left: 2vmin;
    display: flex;
    align-items: center;
    justify-self: space-between;
    flex-direction: column;
}

.tools{
    margin-bottom: 2vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#brushes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
}

#brushes button{
    display: flex;
    border: 2px solid var(--dark);
    border-radius: 5px;
    color: white;
    background-color: var(--transgray);
    height: calc(.8rem + 8vmin);
    width: calc(.8rem + 8vmin);
    margin: 0  0 1vmin 1vmin;
    font-size: calc(.8rem + .8vmin); 
}

#brushes button > i{
    margin: auto;
}

.tools button{
    border: 2px solid var(--dark);
    color: white;
    background-color: var(--transgray);
    padding: calc(.4rem + .4vmin);
    margin: .5vmin 0;
    font-weight: 600;
    border-radius: 5px;
    font-size: calc(.4rem + .8vmin);
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tools button.active, .tools button:active:enabled{
    color: var(--target);
}

.tools button:hover:enabled , #brushes button:hover:enabled{
    background-color: var(--sideaccent);
    border-color: var(--target);
}

#brushes button.active, #brushes button:active:enabled{
    border-color: var(--target);
    color: var(--target);
    background-color: var(--sideaccent) !important;
}

button:disabled, div[disabled]{
    color: var(--dark) !important;
}

#grid-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 93vh;
    width: 100%;
    margin: 0%;
}

#grid {
    margin: auto;
    width: 90vmin;
    height: 90vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    touch-action: none;
}

.visible-background{
    background: repeating-conic-gradient(#e4e4e4 0% 25%, #fbfafa 0% 50%) 50% / calc(180vmin/30) calc(180vmin/30);
}


.pixel{
    /* set the according to grid size later using js */
    flex-basis: calc(90vmin/30);
    flex-shrink: 0;
    height: calc(90vmin/30);
    box-sizing:border-box;
}

.pixel-border{
    border: .1vmin solid var(--dark);
}

#picker-display, div[class^=tg]{
    cursor: pointer;
    height: 4vmin;
    min-width: 4vmin;
    margin: 0 .5vmin 1vmin;
    border-radius: 5px;
}

#colorpicker{
    display: none;
}

div[class^=tg]:hover{
    border: 2px solid var(--target);
}

div[class^=tg].disabled, #picker-display.disabled{
    filter: grayscale(80%);
    pointer-events: none;

}

#picker-display.activecolor , #picker-display:active, div[class^=tg].activecolor, div[class^=tg]:active{
    border: 2px solid white;
}

.tg-w.activecolor, .tg-w:active{
    border: 2px solid var(--target) !important;
}

#picker-display{
    background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(208, 222, 33, 1) 20%,
        rgba(63, 218, 216, 1) 40%,
        rgba(28, 127, 238, 1) 60%,
        rgba(186, 12, 248, 1) 80%,
        rgba(255, 0, 0, 1) 100%
    );;
}
.tg-c{background-color:#bf3a2b;}
.tg-b{background-color:#e74c3c;}
.tg-y{background-color:#d35400;}
.tg-r{background-color:#d68910;}
.tg-l{background-color:#f4d03f;}
.tg-m{background-color:#8bc759;}
.tg-mr{background-color:#2ecc71;}
.tg-o{background-color:#48c9b0;}
.tg-g{background-color:#3ca8f0;}
.tg-p{background-color:#266cef;}
.tg-t{background-color:#7480dd;}
.tg-n{background-color:#42329f;}
.tg-nn{background-color:#1c0f3c;}
.tg-w{background-color:#ffffff;}
.tg-bg{background-color:#f4cda1;}
.tg-tg{background-color:#ca9f5e;}
.tg-dg{background-color:#4f340d;}
.tg-bl{background-color:#000000;}
.tg-gy{background-color:#686868;}


/* button#save{
    background: linear-gradient(90deg, rgb(85, 72, 255) 0%, rgb(0, 145, 255) 100%);
} */

#toggleBackground, #toggleGrid{
    cursor: pointer;
}

.disabled{
    color: var(--gray);
}

/* ERROR: OVERFLOW SCROLL ON MOBILE */
.dropdown-menu{
    --bs-dropdown-padding-y: 0px;
    --bs-dropdown-bg: var(--sidecolor);
    --bs-dropdown-color: white;
    --bs-dropdown-border-color: var(--dark);
    --bs-dropdown-border-width: 2px;
    --bs-dropdown-border-radius: 0px;
    font-size: calc(.5rem + .5vmin);
    text-transform: uppercase;
}

.dropdown-menu > li{
    padding: 1rem;
    border-bottom: 1px solid var(--dark);
}

.dropdown-menu > li > p{
    margin-bottom: 0px;
}

.hidden{
    visibility: hidden;
}

ul.dropdown-menu.show{
    transform: translate3d(80.5px, 0px, 0px) !important;
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (max-width: 1200px){
    body{
        position: relative;
        background-color: var(--sidecolor);
    }
    #right-side, #left-side{
        width: 100%;
        overflow: visible;
        flex-wrap: wrap;
        height: min-content;
        background-image: none;
        background-color: #313746;
    }

    #right-side{
        padding-right: 2vmin;
        padding-bottom: 0px;
    }

    .flex-container{
        flex-wrap: wrap;
    }

    #grid-container{
        padding: 1rem 0;
        height: min-content
    }

    #picker-display, div[class^=tg]{
        min-height: 8vmin;
        min-width: 8vmin;
        margin: 0 1vmin 1vmin;
    }

    #brushes, #colors{
        padding-bottom: .5rem;
        height: min-content;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row; 
        overflow-x: scroll;
    }

    #colors{
        padding-left: 0px;
    }

    #brushes{
        width: 100%;
        justify-content: space-between;
    }

    #brushes button{
        padding: 0px;
        height: 9vmin;
        width: 9vmin;
        font-size: 3vmin;
        margin: auto;
    }

    #brushes > .btn-group{
        margin: auto;
    }
    #brushes button > i{
        width: 100%;
    }

    #add, #frameContainer, #sample, #ptext, #ctext{
        display: none;
    }
}