@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@800&family=Varela+Round&display=swap');

:root {
--gray: #817f7f;
--transgray: #03030330;
--dark: #43464e;
--sidecolor: #303339;
--blue: rgb(2, 117, 255);
--purple: #6961e6;
--black: #1e1f21;
}

body{
    margin: 0;
    font-family: 'Varela Round', Helvetica, sans-serif;
    box-sizing:border-box;
}

.header{
    width: 100%;
    color: var(--black);
    font-family: 'Unbounded', sans-serif;
    text-align: center;
    text-transform: uppercase;
    /* letter-spacing: 3px; */
    font-size: calc(1rem + 1.5vmin);
    padding: .8vmin 0;
    background: rgb(105,97,230);
    background: linear-gradient(135deg, rgb(159, 90, 255) 0% , rgb(132, 123, 248) 25%, rgb(5, 138, 255) 75%,  rgb(0, 166, 255) 100%);
}

p{
    font-size: calc(.4rem + .8vmin);
    letter-spacing: .75px;
    margin-bottom: 1vmin;
}

.flex-container{
    display: flex;
    align-self: center;
    justify-content:space-between;
    background-color: var(--black);
}

#left-side{
    color:white;
    padding: 1rem;
    background-color: var(--sidecolor);
    height: 95vh;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sample{
    margin: 0 2vmin 2vmin;
    height: 24.5vmin;
    width: 24.5vmin;
    border: 2px solid var(--dark);
}

#frameContainer{
    padding: 1vmin 0;
    display: flex;
    flex-direction: column;
    width: 24.5vmin;
    height: 30vmin;
    border: 2px solid var(--dark);
    overflow-y: scroll;
}

.frame{
    margin: 1vmin auto;
    flex-shrink: 0;
    width: 20vmin;
    height: 20vmin;
    border: 2px solid var(--dark);
}

#right-side{
    padding: 1rem 1vw;
    height: 95vh;
    background-color: var(--sidecolor);
    width: fit-content;
    display: flex;
}

#colors{
    margin: 1vmin;
    padding-left: 2vmin;
    display: flex;
    align-items: center;
    justify-self: space-between;
    flex-direction: column;
}

.tools{
    margin-bottom: 2vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#brushes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
}

#brushes button{
    display: flex;
    border: 2px solid var(--dark);
    /* border: none; */
    color: white;
    background-color: var(--sidecolor);
    height: calc(.8rem + 8vmin);
    width: calc(.8rem + 8vmin);
    margin: 0  0 1vmin 1vmin;
    font-size: calc(.8rem + .8vmin); 
}

#brushes button > i{
    margin: auto;
}

.tools button{
    border: 2px solid var(--dark);
    color: white;
    background-color: var(--sidecolor);
    padding: calc(.4rem + .4vmin);
    margin: .5vmin 0;
    font-weight: 600;
    /* border-radius: 5px; */
    font-size: calc(.4rem + .8vmin);
    width: 100%;

    letter-spacing: 1px;
    text-transform: uppercase;
}

.tools button:hover:enabled{
    background-color: var(--transgray);
}

#brushes button:hover:enabled{
    background-color: var(--transgray);
}

#brushes button.active, #brushes button:active:enabled{
    border-color: var(--blue);
    color: var(--blue);
    background-color: var(--transgray) !important;
}

button:disabled, div[disabled]{
    color: var(--dark) !important;
}

#grid-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 93vh;
    width: 100%;
    margin: 0%;
}

#grid {
    margin: auto;
    width: 90vmin;
    height: 90vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    touch-action: none;
}

.visible-background{
    background: repeating-conic-gradient(#e4e4e4 0% 25%, #fbfafa 0% 50%) 50% / calc(180vmin/30) calc(180vmin/30);
}


.pixel{
    /* set the according to grid size later using js */
    flex-basis: calc(90vmin/30);
    flex-shrink: 0;
    height: calc(90vmin/30);
    box-sizing:border-box;
}

.pixel-border{
    border: .1vmin solid #8f8f8f;
}

#picker-display, div[class^=tg]{
    cursor: pointer;
    height: 4vmin;
    min-width: 4vmin;
    margin: 0 .5vmin 1vmin;
    border-radius: 5px;
}

div[class^=tg]:hover{
    border: 2px solid var(--gray);
}

#picker-display.activecolor , #picker-display:active, div[class^=tg].activecolor, div[class^=tg]:active{
    border: 2px solid white;
}

.tg-w.activecolor, .tg-w:active{
    border: 2px solid var(--blue) !important;
}

#picker-display{
    background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 1) 0%,
        /* rgba(255, 154, 0, 1) 10%, */
        rgba(208, 222, 33, 1) 20%,
        /* rgba(79, 220, 74, 1) 30%, */
        rgba(63, 218, 216, 1) 40%,
        /* rgba(47, 201, 226, 1) 50%, */
        rgba(28, 127, 238, 1) 60%,
        /* rgba(95, 21, 242, 1) 70%, */
        rgba(186, 12, 248, 1) 80%,
        /* rgba(251, 7, 217, 1) 90%, */
        rgba(255, 0, 0, 1) 100%
    );;
}
.tg-c{background-color:#C0392B;}
.tg-b{background-color:#E74C3C;}
.tg-y{background-color:#D35400;}
.tg-r{background-color:#D68910;}
.tg-l{background-color:#F4D03F;}
.tg-m{background-color:#8bc759;}
.tg-mr{background-color:#2ECC71;}
.tg-o{background-color:#48C9B0;}
.tg-g{background-color:#3ca8f0;}
.tg-p{background-color:#266cef;}
.tg-t{background-color:#7480dd;}
.tg-n{background-color:#42329f;}
.tg-nn{background-color:#1c0f3c;}
.tg-w{background-color:#ffffff;}
.tg-bg{background-color:#f4cda1;}
.tg-tg{background-color:#ca9f5e;}
.tg-dg{background-color:#4f340d;}
.tg-bl{background-color:#000000;}
.tg-gy{background-color:#686868;}


/* button#save{
    background: linear-gradient(90deg, rgb(85, 72, 255) 0%, rgb(0, 145, 255) 100%);
} */

#toggleBackground, #toggleGrid{
    cursor: pointer;
}

.disabled{
    color: var(--gray);
}

/* ERROR: OVERFLOW SCROLL ON MOBILE */
.dropdown-menu{
    --bs-dropdown-padding-y: 0px;
    --bs-dropdown-bg: var(--sidecolor);
    --bs-dropdown-color: white;
    --bs-dropdown-border-color: var(--dark);
    --bs-dropdown-border-width: 2px;
    --bs-dropdown-border-radius: 0px;
    font-size: calc(.5rem + .5vmin);
    text-transform: uppercase;
}

.dropdown-menu > li{
    padding: 1rem;
    border-bottom: 1px solid var(--dark);
}

.dropdown-menu > li > p{
    margin-bottom: 0px;
}

.hidden{
    visibility: hidden;
}

ul.dropdown-menu.show{
    transform: translate3d(80.5px, 0px, 0px) !important;
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (max-width: 1000px){
    body{
        background-color: var(--sidecolor);
    }
    #right-side, #left-side{
        width: 100%;
        overflow: visible;
        flex-wrap: wrap;
        height: min-content;
    }

    #right-side{
        padding-right: 2vmin;
        padding-bottom: 0px;
    }

    .flex-container{
        flex-wrap: wrap;
    }

    #grid-container{
        padding: 1rem 0;
        height: min-content
    }

    #picker-display, div[class^=tg]{
        min-height: 8vmin;
        min-width: 8vmin;
        margin: 0 1vmin 1vmin;
    }   

    #brushes, #colors{
        padding-bottom: .5rem;
        height: min-content;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row; 
        overflow-x: scroll;
    }

    #colors{
        padding-left: 0px;
    }

    #brushes button{
        padding: 0px;
        height: 9vmin;
        width: 9vmin;
        font-size: 4vmin;
    }

    #brushes button > i{
        width: 100%;
    }


    #add, #frameContainer, #sample, #ptext, #ctext{
        display: none;
    }
}