@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&family=Oxygen+Mono&display=swap);
:root {
    --white: rgb(252, 251, 253);
    --light-1: rgb(230, 228, 242);
    --gray: #c5c5c5;
    --darkgray: #88828c;
    --black: #182023;
    --darkgray: #6b6b7c;
    --bg: rgb(14, 24, 28);
    --dark: #308679;
    --highlight:  #fffabb;
    --dark-1: #7af0d7;
    --light: #a99fd5;
}

body{
    font-family: 'Source Sans 3', sans-serif;
    background-color: var(--bg);
    color: var(--light-1);
}

p{
    margin: auto;
}

h6{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

hr{
    color: var(--dark-1);
}

select{
    background-color: var(--bg);
    color: var(--dark-1);
    border-radius: 5px;
    border: none;
}

.caps{
    font-weight: 700;
    text-transform: uppercase;
}

.fullscreen{
    min-height: 100vh;
}

.accent{
    font-weight: 100;
}

.styled{
    font-family: 'Oxygen Mono', monospace;
}

.colored{
    color: var(--dark-1)
}
.squished{
    line-height: 90%;
}

.gborder{
    border: 1px solid var(--dark-1);
}

.gborder:hover{
    box-shadow: 0 0 20px rgba(72, 136, 115, 0.909); 
}

#landing .display-3{
    transition: all 1s ease;
    font-weight: 700;
}

.display-5{
    font-weight: 600;
}

.display-6{
    font-size: calc(1rem + 1vw);
}

.display-7{
    font-size: calc(1rem + .5vw);
    font-weight: 300;
    line-height: 1.2;
}

.display-8{
    font-size: calc(1rem + .5vw);
    font-weight: 300;
    line-height: 1.2;
}
.gradient {
    background: -webkit-linear-gradient(135deg,var(--light),var(--dark),var(--light),var(--dark));
    background: linear-gradient(-45deg,var(--light),var(--dark),var(--light),var(--dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;
}

.library{
    background-color: var(--dark);
}

.landingbox{
    background-color: var(--light);
}

.flexbox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.black{
    background-color: var(--bg);
    color:var(--light-1);
}

.text-gray{
    color: var(--darkgray);
}

@-webkit-keyframes gradient{
    0%{background-position:0 50%}
    50%{background-position:100% 50%}to{background-position:0 50%}
}
@keyframes gradient{
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    to{background-position:0 50%}
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--dark);
    
}
a.nav-link{
    font-family: 'Oxygen Mono', monospace;
    color: var(--dark);
    transition: all .5s ease;
}

i.nav-link{
    color: var(--dark-1);
    text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
    color: var(--dark-1);
    border-bottom: 1px solid var(--dark);
}
.navbar-toggler {
    border: none;
}
  
.custom-toggler{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.bar {
    height: 2.5px;
    width: 25px;
    background-color: var(--dark-1);
    transition: all 100ms ease-in-out;
    border-radius: 20px;
}

.x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    margin-left: .7rem;
    scale: .9;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 25px;
}
  
.x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
}
  
.x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    margin-left: .7rem;
    scale: .9;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 25px;
}

#logo{
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: calc(1rem + 1vw);
}
.cards {
  width: 100%;
  margin: 0 auto;
  perspective: 1000px;
}

.cards__container {
  width: 100%;
  position: relative;
  padding-bottom: 71.5%;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
}
.cards__front, .cards__back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-size: cover;
}
.cards__front {
  z-index: 2;
  transform: rotateY(0deg);
}
.cards__back {
  transform: rotateY(180deg);
}
.cards.is-flipped .cards__container {
  transform: rotateY(180deg);
}

.card-1 {
  background-image: url(media/cc.gif);
}

.card-2 {
  background-image: url(media/jumprex.gif);
}

.card-3 {
  background-image: url(media/hexdle.gif);
}

.card-4 {
  background-image: url(media/pyker.jpg);
}

.filter {
    margin: 5px;
    display: none;
}


.option{
    display: none;
}

.showoption {
    display: flex;
    align-content: space-between;
}

.show {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.hide{
    display: none;
}

.tag{
    flex-shrink: 0;
    margin-right: 1rem;
}

.highlight {
    position: relative;
}
  
.highlight:before, .highlight:after {
    content: "";
    display: block;
    height: 40%;
    width: 110%;
    position: absolute;
    transform-origin: center;
    transform: translate(-5%, 8px);
}

.highlight:before {
    background: var(--highlight);
    z-index:-100;
}

.highlight {
    z-index: 1;
}

#projectContainer{
    box-sizing: border-box;
}

/* Style the buttons */
.btn {
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .25rem;
    border: none;
    transition: background-color 0.5s ease;
    text-transform: uppercase;
}

.btn:hover{
    color: var(--dark)
}

  
.btn.active {
    color: var(--light-1);
    background-color: var(--dark);
}

.cbtn{
    color: var(--darkgray);
}

.dbtn{
    height: 100%;
    display: flex;
    color: var(--dark-1);
    padding: calc(1rem + .5vw);
    border: 1px solid var(--dark-1);
    border-radius: 5px;
}

.infobtn{
    font-family: 'Oxygen Mono', monospace;
    border: 1px solid var(--black);
    color: var(--black);
    width: 100%;
}
.dbtn:hover{
   border-color: var(--dark);
}

.dbtn:hover > a{
    color: var(--dark);
 }
.infobtn:hover {
    border: 1px solid var(--black);
    background-color: var(--dark);
    color: var(--white);
}

.w-45{
    width: 45%;
}

.flex-container2{
    display: flex;
    flex-wrap: wrap;
}

.item{
    flex-shrink: 0;
    color: var(--black);
    padding: 1.5vh;
    margin: 0.5%;
}

.card{
    background-color: var(--white);
    border: 1px solid var(--dark-1);
    width: 100%;
}

.card:hover{
    border-color: var(--light-1);
    box-shadow: 0 0 20px rgba(72, 136, 115, 0.909); 
}

.img-filter {
    -webkit-filter: opacity(50%); 
    filter:brightness(0.9) sepia(100%) hue-rotate(110deg);
}

.card:hover > .img-filter, .img-filter:hover{    
    -webkit-filter: opacity(100%);
    filter:opacity(100%);
}

.max-three-col {
    flex-basis: calc(97%/3);
}

.filterholder{
    align-self: flex-end;
}

.extramargin{
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.tags{
    display: flex;
    flex-wrap: wrap;
}

.spacer{
    background-color: var(--bg);
    min-height: 65px;
    display: none;
}

@media screen and (max-width: 991px) {
    .max-three-col {
        flex-basis: 49%;
    }

    /* a.nav-link, i.nav-link{
        color: var(--light-1);
    } */
}
@media screen and (max-width: 650px){
    .flex-container2 {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        border-radius: 5px;
    }

    .flex-container2::-webkit-scrollbar-track{
        border-radius: 10px;
        border: 1px solid var(--gray);
    }

    .flex-container2::-webkit-scrollbar{
        width: 12px;
    }

    .flex-container2::-webkit-scrollbar-thumb{
        border-radius: 10px;
        border: 1px solid var(--gray);
        background-color: var(--dark)
    }
    .max-three-col {
        flex-basis: 80%;
    }

    #backtotopofprojects{
        display: none;
    }
}

@media screen and (max-width: 320px){
    .spacer{
        display: block; 
    }
}

@media screen and (max-height: 700px) {
    .spacer{
        display: block; 
    }
}


